<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
  <link rel="stylesheet" href="/public/styles/main.css">
  <link rel="stylesheet" href="/public/styles/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Tenor+Sans&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/c03ec31dc2.js" crossorigin="anonymous"></script>
  <title>Social Blog</title>
</head>

<body> 
  <div class="article-wrapper">  
    <div class="top-left">
      <div class="logo">
        <a href="/dashboard">
          <p>SOCIAL BLOG</p>
        </a>
      </div>    
      <div class="account-action-buttons">
        <%- include("partials/account") -%>
        <div class="action-button-container">
          <a href="/dashboard">
            <button class="action-button" data-value="Home" data-icon="<i class='fas fa-solid fa-house-user'></i>">Home</button>
          </a>
          <a href="/compose">
            <button class="action-button" data-value="New Article" data-icon="<i class='fas fa-solid fa-plus'></i>">New Article</button>
          </a>
          <button class="action-button show-comments" data-value="Show Comments" data-icon="<i class='fas fa-solid fa-comments'></i>">Show Comments</button>
        </div>
      </div>
    </div>

    <div class="wrapper">
      <div class="wrapper-inner">
        <div class="article-container">
          <% if(authorId == userId) {%>
            <div class="article-buttons">
              <a href=<%= `/edit/${articleId}` %>>
                <button>Edit</button>
              </a>
            </div>
            <% } %>
          <div class="article-content">
            <div class="author">
              <h2>Author: <%= authorName %></h2>
              <img class="author-image-icon" src=<%= authorIcon %>>
              <h2><%= moment(date).format('MMM Do YYYY') %></h2>
            </div>
          
            <h1><%= title %></h1>
            <img src=<%= image %> class="article-image" alt="">
            <p><%- content %></p>
            <p> Comments: <%= comments.length %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="right-column">
      <div class="comments">
        <h1 class="comments-title">Comments</h1>
        <div class="write-comment-container">
           <form class="submit-comment-form" action="/comment" method="post">
            <textarea name="content" rows="4"></textarea>        
              <button type="submit" name="articleId" value=<%= articleId %>>Comment</button>        
          </form>
        </div> 
        <div class="user-comments">
          <% comments.forEach(function(comment) { %>
            <div class="comment">
              <div class="commenter">
                <div class="commenter-icon">
                  <img class="author-image-icon" src=<%= comment.commentPosterIcon %>>
                </div>
                <div class="commenter-details">
                  <h3> <%= comment.commentPosterName %></h3>
                  <p> <%= moment(comment.date).fromNow() %></p>
                </div>                
              </div>              
              <h2> <%= comment.content %></h2>
          </div>
          <% }) %>
        </div>
      </div>
    </div>  
    <%- include("partials/account-icon-guide") -%>
  </div>
</body>
<script type="module" src="/public/client/account.js"></script>
<script type="module" src="/public/client/comments.js"></script>
<script type="module" src="/public/client/loading-screen.js"></script>
</html>