<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
  <link rel="stylesheet" href="/public/styles/main.css">
  <link rel="stylesheet" href="/public/styles/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Tenor+Sans&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/c03ec31dc2.js" crossorigin="anonymous"></script>
  <title>Logged in</title>
</head>

<body>
 
    <section class="loading-screen">

    </section>
    <div class="wrapper">
      <div class="article-page-container">
    
      <%- include("partials/account") -%>
    
  

   

  
      <div class="article-container">
        <% if(authorId == userId) {%>
          <div class="article-buttons">
            <form action="/delete" method="post">
              <a href=<%= `/edit/${articleId}` %>>
                <button type="submit" name="articleId" value=<%= articleId %> >Delete</button>
              </a>
            </form>
            <a href=<%= `/edit/${articleId}` %>>
              <button>Edit</button>
            </a>
          </div>
          <% } %>
        <div class="article-content">
          <div class="author">
            <h2>Author: <%= authorName %></h2>
            <img class="author-image-icon" src=<%= authorIcon %>>
            <h2><%= moment(date).format('MMM Do YYYY') %></h2>
          </div>
        
          <h1><%= title %></h1>
          <p><%- content %></p>
          <p> Comments: <%= comments.length %></p>
        </div>
      </div>
     

  
    <div class="right-column">
      
      <div>
        <div class="logo">
          <p>SOCIAL BLOG</p>
        </div>
        <div class="button-container">
        <a href="/compose">
          <button class="new-article-button">Create New Article</button>
        </a>
        <a href="/dashboard">
          <button>Dashboard</button>
        </a>
      </div>
      </div>
      <div class="comments">
        <h1>Comments</h1>
        <div class="write-comment-container">
          <p>Make a comment</p>
          <form class="submit-comment-form" action="/comment" method="post">
            <textarea name="content" cols="30" rows="4"></textarea>        
              <button type="submit" name="articleId" value=<%= articleId %>>Comment</button>        
          </form>
        </div> 
        <div class="user-comments">
          <% comments.forEach(function(comment) { %>
            <div class="comment">
              <div>
                <img class="author-image-icon" src=<%= comment.commentPosterIcon %>>
                <h2> <%= comment.commentPosterName %></h2>
              </div>
              
              <h2> <%= moment(comment.date).fromNow() %></h2>
              
              <h2> <%= comment.content %></h2>
          </div>
          <% }) %>
        </div>
      </div>

      
    </div>
    </div>

</div>
</body>
<script type="module" src="/public/client/account.js"></script>
<script type="module" src="/public/client/loading-screen.js"></script>
</html>