<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
  <link rel="stylesheet" href="/public/styles/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/c03ec31dc2.js" crossorigin="anonymous"></script>
  <title>Logged in</title>
</head>

<body>
  <a href="/dashboard">
    <button>Dashboard</button>
  </a>
  <% if(authorId == userId) {%>
    <div class="buttons">
      <form action="/delete" method="post">
        <a href=<%= `/edit/${articleId}` %>>
          <button type="submit" name="articleId" value=<%= articleId %> >Delete</button>
        </a>
      </form>
      <a href=<%= `/edit/${articleId}` %>>
        <button>Edit</button>
      </a>
    </div>
    <% } %>
  <h1><%= title %></h1>
  <h2>Author: <%= authorName %></h2>
  <h2>User: <%= userId %></h2>
  <h2>Date Created: <%= date %></h2>
  <p><%- content %></p>
  <p> Comments: <%= comments.length %></p>

  <div class="comments">
    <div class="write-comment">
      <form action="/comment" method="post">
        <textarea name="content" cols="150" rows="12"></textarea>        
          <button type="submit" name="articleId" value=<%= articleId %>>Comment</button>        
      </form>
    </div> 
    <div class="comments">
      <h1>Comments</h1>
      <% comments.forEach(function(comment) { %>
        <div class="comment">
          <h2> <%= comment.commentPosterName %></h2>
          <h2> <%= comment.date %></h2>
          <h2> <%= comment.content %></h2>
      </div>
      <% }) %>
    </div>
    
  </div>
</body>
</html>