<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
  <link rel="stylesheet" href="/public/styles/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/c03ec31dc2.js" crossorigin="anonymous"></script>
  <title>Logged in</title>
</head>

<body>
  <div class="wrapper">
    <section class="loading-screen">
      <h1><span class="hide">W</span><span class="hide">e</span><span class="hide">l</span><span class="hide">c</span><span class="hide">o</span><span class="hide">m</span><span class="hide">e</span><span class="hide"> t</span><span class="hide">o</span><span class="hide"> y</span><span class="hide">o</span><span class="hide">u</span><span class="hide">r</span><span class="hide"> b</span><span class="hide">l</span><span class="hide">o</span><span class="hide">g</span></h1>
    </section>
  <%- include("partials/account") -%>
    
 

  
    <div class="compose-container">
      <a href="/compose">
        <button>Create New Article</button>
      </a>
    </div>

    <div class="articles-container">
      
        <% articlesToShow.forEach((article) => { %> 
          <div class="article">
            <a href=<%= `/article/${article.id}` %> >
              <div class="card">
                
                  <div <% if(article.user === userId) {%> 
                    class="card-inner own-article"
                    <% } else { %>
                      class="card-inner other-user-article"
                    <% } %> >
                  <div class="card-image">
                    <img class="article-image" src=<%= article.image%>>
                    <div class="none overlay">
                      <div class="overlay-text">
                        <h2><%- article.teaser %></h2>
                      </div>
                    </div> 
                  </div>
                  <div class="card-info">
                    <div>
                      <h1><%= article.title %></h1>
                      
                      <h4 class="teaser"><%=article.teaser.substring(0,200) +" ...read more" %>%></h4>
                      <div class="author-container">
                        <img class="author-image" src=<%= article.userIcon %> alt="">
                        <div class="author-info">
                          <h2><%= article.userName%></h2>
                          <p><%= article.date %></p> 
                        </div>
                      </div>
                    </div>
                    <div class="comments">
                      <i class="fas fa-comments highlight-yellow"></i> 
                      <p><%= article.comments.length%></p>  
                    </div>
                  </div>
                      
                    
                  </div>  
                
                  
              </div> 
            </a> 
          </div>
        <% }) %> 
      
    </div> 
  </div>         

    <!-- <a href="/logout"> <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Logout</button> </a> -->

</body>
<script type="module" src="public/client/client.js"></script>
<script type="module" src="public/client/loading-screen.js"></script>

</html>