<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
  <link rel="stylesheet" href="/public/styles/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/c03ec31dc2.js" crossorigin="anonymous"></script>
  <title>Logged in</title>
</head>

<body>
  <div class="container">
    <h1>ID: <%= userId %></h1>
    <h1>Username: <%= name %></h1>
    <h1>email: <%= email %></h1>
    <div class="compose-container">
      <a href="/compose">
        <button>Create New Article</button>
      </a>
    </div>
    <% articles.forEach(function(article) { %>
      <ul>      
          <% if(article.user == userId) { %>
          <li> <%= article.title %></li>
          <li> <%= article.content %></li>
          <% } %>
      
      </ul>
     <% }); %> 

    <div>
      <form action="/new-article" method="post">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="input" name="title" placeholder="Start typing blog title...">
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea type="text" name="content" rows="12" cols="150" placeholder="Start typing blog content..."></textarea>
        </div>
        <button type="submit" name="submit">Post</button>
      </form>
    </div>
</div>
<div>
    <!-- <a href="/logout"> <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Logout</button> </a> -->
</div>
</body>

</html>