<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
  <link rel="stylesheet" href="/public/styles/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/c03ec31dc2.js" crossorigin="anonymous"></script>
  <title>Logged in</title>
</head>

<body>
  
  <div class="container">
    <h1>ID: <%= userId %></h1>
    <h1>Username: <%= name %></h1>
    <h1>email: <%= email %></h1>
    <div class="compose-container">
      <a href="/compose">
        <button>Create New Article</button>
      </a>
    </div>

    <div class="main-container">  
      <div class="articles-container-outer">
      <% articles.forEach(function(article) { %>        
        <% if(article.user == userId || article.status == "public") { %>
          <div class="article-container-inner">
            <a href=<%= `/article/${article.id}` %>>
            <% if(article.user == userId) {%>            
              <div class="article-container own-article">
                <h3>Own Article</h3>
            <% } else { %>
              <div class="article-container other-user-article">
                <h3>Author: <%= article.user%></h3>
              <% } %>                
                  <ul>                
                    <li> <%= article.user%></li>
                    <li> <%= article.title %></li>
                    <li> <%= article.content %></li>
                    <li> <%= article.status %></li>                          
                    <li> <%= article.date %></li>     
                  </ul>                                      
              </div>    
            </a> 
          
          <div class="article-preview none">
            <h1>Preview</h1>
            <h2><%= article.content %></h2>
          </div>   
        </div>           
        <% } %> 
      <% }) %> 
    </div> 
        
  </div>

    <!-- <a href="/logout"> <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Logout</button> </a> -->

</body>
<script type="module" src="public/client/client.js"></script>

</html>