<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
  <link rel="stylesheet" href="/public/styles/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Tenor+Sans&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://kit.fontawesome.com/c03ec31dc2.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/04a1a7d6b4.js" crossorigin="anonymous"></script>
  <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
  <title>Logged in</title>
</head>

<body>
  <section class="loading-screen">
    <div class="loader"></div>
    <p>
      <span class="hidden">W</span><span class="hidden">e</span><span class="hidden">l</span><span class="hidden">c</span><span class="hidden">o</span><span class="hidden">m</span><span class="hidden">e</span><span class="hidden"> t</span><span class="hidden">o</span><span class="hidden"> y</span><span class="hidden">o</span><span class="hidden">u</span><span class="hidden">r</span>
      <span class="hidden"> S</span><span class="hidden">O</span><span class="hidden">C</span><span class="hidden">I</span><span class="hidden">A</span><span class="hidden">L</span><span class="hidden"> B</span><span class="hidden">L</span><span class="hidden">O</span><span class="hidden">G</span></p>
  </section>

  <div class="logo">
    <a href="/dashboard">
      <p>SOCIAL BLOG</p>
    </a>
  </div>
  <div class="wrapper">

    <div class="left-column ">
      
      <%- include("partials/account") -%>
      <div class="action-button-container">
        <a href="/compose">
          <button class="new-article-button">New Article</button>
        </a>
      </div>
    </div> 
  

    <div class="articles-container">
      <div class="article hide">
        <a>
          <div class="card">
              <div class="card-inner">
              <div class="card-image">
                <img class="article-image" src="https://thumbs2.imgbox.com/f2/df/Y5csoXxA_t.png">
                <div class="none overlay">
                  <div class="overlay-text">
                    <h2></h2>
                  </div>
                </div> 
              </div>
              <div class="card-info">
                <div class="top-row-card">
                  <h1 class="article-title"></h1>
                  <h4 class="teaser"></h4>
                </div>
                  <div class="bottom-row-card">
                    <div class="author-container">
                      <img class="author-image"  alt="">
                      <div class="author-info">
                        <h2 class="author-name"></h2>
                        <p class="article-date"></p> 
                      </div>
                    </div>
                    <div class="comments">
                      <i class="fas fa-comments highlight-yellow"></i> 
                      <p class="comments-total"></p>  
                    </div>
                  </div>
              </div>         
              </div>  
          </div> 
        </a> 
      </div>
        <% articlesToShow.forEach((article) => { %> 
          <div class="article" data=<%= article.id %>>
            <a href=<%= `/article/${article.id}` %> >
              <div class="card">
                
                  <div <% if(article.user === userId) {%> 
                    class="card-inner own-article"
                    <% } else { %>
                      class="card-inner other-user-article"
                    <% } %> >
                  <div class="card-image">
                    <img class="article-image" src=<%= article.image%>>
                    <div class="none overlay">
                      <div class="overlay-text">
                        <h2><%- article.teaser %></h2>
                      </div>
                    </div> 
                  </div>
                  <div class="card-info">
                    <div class="top-row-card">
                      <h1 class="article-title"><%= article.title.substring(0,200) %></h1>
                      <h4 class="teaser"><%=article.teaser.substring(0,200) +" ...read more" %>%></h4>
                    </div>
                    <div class="bottom-row-card">
                      <div class="author-container">
                        <img class="author-image" src=<%= article.userIcon %> alt="">
                        <div class="author-info">
                          <h2 class="author-name"><%= article.userName%></h2>
                          <p class="article-date"><%= moment(article.date).fromNow()  %> </p>
                        </div>
                      </div>
                      <div class="comments">
                        <i class="fas fa-comments"></i> 
                        <p class="comments-total" ><%= article.comments.length%></p>  
                      </div>
                    </div>
                  </div>
                </div>  
              </div> 
            </a> 
          </div>
        <% }) %> 
 
      
    </div>

   
  </div> 

    <!-- <a href="/logout"> <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Logout</button> </a> -->

</body>
<script type="module" src="public/client/client.js"></script>
<script type="module" src="public/client/account.js"></script>
<script type="module" src="public/client/loading-screen.js"></script>

</html>